.centered {
    text-align: center;
}
.title {
    font-size: 30px;
    margin-bottom: 6px;
}
.subtitle {
    font-size: 15px;
    margin-top: 0;
}
div {
    background-color: gray;
}
li {
    list-style-type: none;
}
.underlined {
    text-decoration: underline;

}
.monospaced {
    font-family: monospace;
}

/* Something new... */
h1, h2 {
    font-weight: normal;
}
